<h1>Editing Enrollment Request</h1>

<%= render 'form', enrollment_request: @enrollment_request %>

<%= link_to 'Show', batch_enrollment_request_path(@batch, @enrollment_request) %> |
<%= link_to 'Back', batch_enrollment_requests_path(@batch) %>
